@charset "UTF-8";
.accordionContainer {
  display: flex;
  flex-direction: column; 
  margin: auto; 
  padding: 40px;
}

section {
  position: relative;
  min-height: 223px; /* Ajuste selon le contenu pour éviter qu'il soit poussé vers le haut */
}