@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* color-scheme: light dark; */  /* mode sombre*/
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none; /*désactive la synthèse automatique*/
  text-rendering: optimizeLegibility;/*améliore la lisibilité du texte*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


main.homePage {
 flex: 1 1;
  width: 1240px;
  height: 1095px;
  align-items: center;
  justify-content: center;
}

main.logementPage {
  width: 1240px;
  height: 643px; /* Hauteur spécifique à la maquette */
  margin: auto;
}





