.logementHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1240px;
}

.logementInfo {
  max-width: 635px;
}

.logementTitle {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 36px;
  color: #ff6060;
  margin: 0;
}

.location {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}

.hostAndRating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 10px;
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hostName {
  font-size: 18px;
  font-weight: 500;
  color: #ff6060;
}

.hostPicture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
}

.rating {
  display: flex;
  gap: 5px;
}

.starFilled {
  color: #ff6060;
  font-size: 36px;
}

.starEmpty {
  color: #e3e3e3;
  font-size: 36px;
}


@media (max-width: 768px) {
  .logementHeader {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .logementInfo {
    max-width: 100%;
  }

  .logementTitle {
    font-size: clamp(20px, 5vw, 28px);
  }

  .location {
    font-size: clamp(16px, 4vw, 20px);
  }

  .hostAndRating {
    position: relative;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    top: 20px;
  }

  .hostPicture {
    width: 48px;
    height: 48px;
  }

  .hostName {
    font-size: 16px;
  }

  .starFilled,
  .starEmpty {
    font-size: 24px;
  }
}
