
.header {
    display: flex;
    width: 1240px;
    height: 68px;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
}

.logo {
    width: 150px;
}

.nav {
    display: flex;
    gap: 40px;
}

.link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.active {
    border-bottom: 2px solid #fff;
}