.header {
  display: flex;
  height: 68px;
  width: 1240px;
  justify-content: space-between;
  align-items: center;
  margin: 25px auto;
  .logoH {
    width: 209px;
    height: 68px;
  }
  .nav {
    display: flex;
    gap: 57px;
  }
}

.link {
  color: #000000;
  text-decoration: none;
  font-size: 24px;
}

.active {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  position: relative;
}

.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* Ajuste pour éviter le saut visuel */
  width: 100%;
  height: 2px;
  background-color: #000000;
}

