/* .carousel {
  position: relative;
  align-items: center;
  width: 1240px;
  height: 415px;
  margin: 0 auto;
}

.image {
  width: 1240px;
  height: 415px;
  border-radius: 25px;
  object-fit: cover;
}

.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  height: 20px;
  width: 12px;
}

.carousel-next {
  right: 10px;
  transform: translateX(-50%);
}

.carousel-prev {
  left: 10px;
  transform: translateX(50%);
}

.icon {
  position: relative;
  height: 79px;
  width: 46px;
}

.carousel-indicator {
  display: none;
}
 */