.footer {
  width: 100%;
  height: 209px;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 20px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logoF {
  width: 122px;
  height: 40px;
  margin-bottom: 10px;
}

.paragraph {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white;
  text-align: center;
  white-space: nowrap;
  max-width: 100%;
  margin: 20px auto 0;
  .lineBreak {
    display: none;
  }
}



@media (max-width: 768px) {
  .paragraph {
    white-space: normal; // ➜ Autorise retour à la ligne
    max-width: 220px; // ➜ Limite la largeur pour provoquer la coupe
    font-size: 12px;
    .lineBreak {
      display: inline;
    }
  }

  .logoF {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .paragraph {
    width: 134px;
    height: 46px;
    font-size: 12px;
    text-align: center;
    margin-top: 105px; 
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
    word-break: break-word;
  }
}
