// 🔴 Styles globaux pour tous les accordéons
.accordion {
  width: 100%;
  height: 52px;
  margin: 10px auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ff6060;
  position: relative;
  bottom: 15px;
}

// 🎭 En-tête d'accordéon
.accordionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  padding: 10px;
  background-color: #ff6060;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

// ⏬ Icônes de bascule
.icon-toggle {
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-left: auto;
}

.icon-toggle.open {
  transform: rotate(180deg);
}

.accordionLogement {
  width: 582px;
  height: 52px;
  background-color: #f0f0f0;
  border: 2px solid #FF6060;
  padding: 10px;
  border-radius: 8px;
}

.accordionLogementContainer {
  display: flex;
  width: 100%;
  height: 52px;
  flex-direction: row; 
  align-items: center;
  gap: 76px;
  background-color: #f8f8f8; 
}


