.bannerCommon {
  width: 1240px;
  height: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  mix-blend-mode: darken; 
}

.banner {
  @extend .bannerCommon;
  background: url('/src/assets/banner-main.svg') center/cover no-repeat;
  margin: 0; 
}

.bannerAbout {
  @extend .bannerCommon;
  background: url('/src/assets/banner-about.svg') center/cover no-repeat;
}

 
.bannerTitle {
  color: #ffffff; /* Blanc pur */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Ombre noire légère */
}

