.banner {
  background: url('/src/assets/banner-main.svg') center/cover no-repeat;
  width: 1240px;
  height: 223px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  mix-blend-mode: Darken;
  filter: brightness(60%); /* Réduit la luminosité */
  margin: 0 0 20px 0;
}

section h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 48px;
  color: #fff;
}
